.quickview-content{
  display: flex!important;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .quickview-content{
    flex-direction: row;
  }
}

.quickview_pro_img{
  img{
    width: 300px;
    height: auto;
  }
}