.user-image{
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #000 solid;
  }
}

.add-form-inner{
  display: flex;
  gap: 20px;
}

.add-form-right{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 360px;

}

.add-form-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 360px;
}

.add-form-right-username{
  display: flex;
  gap: 20px;
}

.add-form-right-phone{
  display: flex;
  gap: 20px;
}